<section id="about">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="mx-auto max-w-2xl text-center">
      <div>
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter">
          Secure <span class="lg:block"
            >your environment and make your organisation resilient. 
          </span>
        </p><p
          class="mt-4 text-lg max-w-xl mx-auto tracking-tight text-slate-500">
          In 2023, organisations will face a range of cyber risks as they navigate an ever-evolving threat landscape.
        </p>
      </div>
    </div>
  </div>
</section>
