<section id="contact">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="mx-auto max-w-2xl text-center">
      <div> 

          <a class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter" href="mailto:a@53C.co.za">a@53C.co.za</a> 

          <span class="lg:block"
            >
            <p
            class="text-slate-500 text-sm mt-4">
            PGP Fingerprint: 88F9 AFEE 0E88 286F 775E 4201 5334 8340 786 731E3
          </p>        
          </span>
      </div>
    </div>
  </div>
</section>
