<section
  class="bg-gradient-to-t from-[#15057e] to-[#141521] neue-haas relative">
  <div
    class="w-full h-full -z-1 absolute flex flex-row justify-between left-0 lg:h-full lg:max-w-7xl lg:px-0 mx-auto px-6 right-0">
    <div class="w-full h-full border-[#f5f5f530]/5 border-x"></div>
    <div class="w-full h-full border-[#f5f5f530]/5 border-x"></div>
    <div class="w-full h-full border-[#f5f5f530]/5 border-x"></div>
    <div class="w-full h-full border-[#f5f5f530]/5 border-x"></div>
    <div class="w-full h-full border-[#f5f5f530]/5 border-x"></div>
    <div class="w-full h-full border-[#f5f5f530]/5 border-x"></div>
    <div class="w-full h-full border-[#f5f5f530]/5 border-x"></div>
  </div>

  <section class="flex items-center justify-center relative">
    <svg
    width="10mm"
    height="20mm"
    viewBox="0 0 200 100"
    version="1.1"
    id="svg5"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:dc="http://purl.org/dc/elements/1.1/">
   <title
      id="title1510">Darklogic Logo</title>
   <defs
      id="defs2">
     <rect
        x="270"
        y="439.33914"
        height="10.81297"
        id="rect502" />
   </defs>
   <g
      id="layer1">
     <text
        xml:space="preserve"
        transform="matrix(1.0993402,0,0,1.0993402,-284.72706,-489.7081)"
        id="text500"
        style="font-weight:900;font-size:85.3333px;font-family:Arial;-inkscape-font-specification:'Arial Heavy';white-space:pre;shape-inside:url(#rect502);display:inline;fill:#000000;stroke:#000000;stroke-width:2.48208;stroke-dasharray:none;stroke-dashoffset:28.8404;stroke-opacity:1"><tspan
          x="270"
          y="517.15153"
          id="tspan964"><tspan
            style="font-weight:bold;font-family:'OCR A Extended';-inkscape-font-specification:'OCR A Extended Bold'"
            id="tspan962">53C</tspan></tspan></text>
   </g>
   <metadata
      id="metadata1508">
     <rdf:RDF>
       <cc:Work
          rdf:about="">
         <dc:title>53C logo</dc:title>
       </cc:Work>
     </rdf:RDF>
   </metadata>
 </svg>

    <div
      class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-16 max-w-7xl lg:py-32">
      <div class="max-w-5xl mx-auto">
        <div class="text-left">
          <div
            class="grid grid-cols-1 lg:grid-cols-2 lg:items-end gap-6 lg:gap-12">
            <div>
              <div class="lg:inline-flex items-center gap-3">
                <p
                  class="text-cyan-500 lg:pl-4 lg:border-l border-white mt-3 lg:mt-0">
                 53c
                </p>
              </div>
              <p class="text-3xl mt-12 font-normal tracking-tight text-[white]">
                53C is coming soon, I am just centering some divs fam... <span
                  class="italic font-bold text-transparent bg-clip-text bg-gradient-to-r from-cyan-400 via-cyan-500 to-indigo-500 lg:block">
                  Sorry for bothering.</span
                >
              </p>
              <div
                class="flex flex-col gap-3 mt-10 sm:flex-row lg:items-center">
                <div class="flex flex-col sm:flex-row">
                  <a
                    class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-white duration-200 bg-white/0 custom-blur font-medium hover:bg-white/5 rounded-xl border-2 border-white hover:text-white focus:outline-none lg:w-auto focus-visible:outline-black focus-visible:ring-black"
                    href="https://t.me/darklogic"
                    >Follow 53C &nbsp; &nbsp; &rarr;
                  </a>
                </div>
                <div class="lg:pl-4 lg:border-l-2 border-white/">
                  <p class="text-white">
                    <span class="block">While you wait,</span>
                    <span class="block"> you can connect with me on Telegram</span>
                  </p>
                </div>
              </div>
            </div>
            <p class="max-w-xl text-white lg:text-2xl mt-6 lg:ml-auto">
              You are going to like it, is going to be simple and nice. See you
              on May.
            </p>
          </div>
        </div>
      </div>
      <div
        class="relative items-center w-full pb-12 mx-auto max-w-7xl mt-12 p-8 lg:p-10 rounded-[2rem] border border-white/10"
        style="">
        <img
          class="w-full bg-neutral-300 rounded-3xl object-cover shadow-2xl shadow-black/80"
          <!-- src="https://astro.build/assets/astrosaas-hero.78e2d129_Z2bsEkO.avif" -->
          alt=""
        />
      </div>
    </div>
  </section>
</section>
