<section aria-labelledby="pricing-section" id="pricing">
  <div class="lg:px-16 max-w-7xl md:px-12 mx-auto px-8 py-24 scroll-mt-12">
    <div class="text-center">
      <h2
        class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter">
        Pricing
        <span class="lg:block"></span>
      </h2>
      <div><p
          class="mt-4 text-lg max-w-xl tracking-tight text-slate-500 mx-auto">
          Our packages
        </p>
      </div>
    </div>
  </div>
  <div class="items-center px-8 lg:pt-12 pb-24 mx-auto max-w-7xl lg:px-16">
    <div
      class="grid max-w-2xl grid-cols-1 py-4 -mx-4 sm:grid-cols-2 gap-y-10 sm:mx-auto lg:max-w-none lg:grid-cols-4 xl:gap-x-4 lg:bg-slate-50 lg:border border-slate-500/10 lg:rounded-3xl">
      <section class="flex flex-col px-6 rounded-3xl lg:py-8">
        <h3 class="mt-5 text-lg text-black font-display">Consult</h3>
        <p class="mt-2 text-sm text-slate-500">
          One on one engagement on a time based arrangement. 
        </p>
        <p
          class="order-first text-5xl font-light tracking-tight text-black font-display">
          $200
        </p>
        <ul
          role="list"
          class="flex flex-col order-last mt-10 text-sm text-slate-600 gap-y-3">
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Policy creation (AI, IOT, Privacy)</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">OSINT (Open Source intelligence)</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Phishing Email analysis</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">DNS investigation</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Malware Analysis</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Network and Asset Mapping</span>
          </li>
        </ul>
        <a
          class="inline-flex items-center justify-center w-full px-6 py-3 mt-8 text-center text-black transition duration-200 ease-in-out transform border-2 border-black hover:bg-transparent hover:border-black/50 rounded-xl focus:outline-none"
          aria-label="Wannabe tier"
          href="/register">Get started</a
        >
      </section>
      <section class="flex flex-col px-6 rounded-3xl lg:py-8">
        <h3 class="mt-5 text-lg text-black font-display">Interact</h3>
        <p class="mt-2 text-sm text-slate-500">
          Custom presentations and exercises
        </p>
        <p
          class="order-first text-5xl font-light tracking-tight text-black font-display">
          $2,000
        </p>
        <ul
          role="list"
          class="flex flex-col order-last mt-10 text-sm text-slate-600 gap-y-3">
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Research Presentation or practical exercise</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Disaster recovery planning</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Penetration Test Scoping</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Cyber Hygiene Dashboards</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Secure Development Best Practises</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Industry Threat Analysis</span>
          </li>
        </ul>
        <a
          class="inline-flex items-center justify-center w-full px-6 py-3 mt-8 text-center text-black transition duration-200 ease-in-out transform border-2 border-black hover:bg-transparent hover:border-black/50 rounded-xl focus:outline-none"
          aria-label="Wannabe tier"
          href="/register">Get started</a
        >
      </section>
      <section
        class="flex flex-col order-first px-6 py-8 rounded-3xl sm:px-8 bg-black lg:-mt-24 lg:order-none">
        <h3 class="mt-5 text-lg text-white font-display">Assess</h3>
        <p class="mt-2 text-sm text-accent-100">
          Facilitated Assessment 
        </p>
        <p
          class="order-first text-5xl font-light tracking-tight text-white font-display">
          $4,000
        </p>
        <ul
          role="list"
          class="flex flex-col order-last mt-10 text-sm text-white gap-y-3">
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">CFA UK or NIST</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Establish Risk Posture</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">2 week engagement with reporting</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Interviewing subject matter exeperts</span>
          </li>
        </ul>
        <a
          class="inline-flex items-center justify-center w-full px-6 py-3 mt-8 text-center text-black transition duration-200 ease-in-out transform bg-white border-2 border-white hover:bg-transparent hover:border-white rounded-xl hover:text-white focus:outline-none"
          aria-label="Indie hacker tier"
          href="/register">Get started</a
        >
      </section>
      <section class="flex flex-col px-6 rounded-3xl lg:py-8">
        <h3 class="mt-5 text-lg text-black font-display">Engage</h3>
        <p class="mt-2 text-sm text-slate-500">
          For larger projects
        </p>
        <p
          class="order-first text-5xl font-light tracking-tight text-black font-display">
          $8,000
        </p>
        <ul
          role="list"
          class="flex flex-col order-last mt-10 text-sm text-slate-600 gap-y-3">
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Malware Remediation</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Employee Training </span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Phishing and Adversary simulation</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Penetration Testing</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Vulnerability scanning</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Remote Code Execution POC's</span>
          </li>
        </ul>
        <a
          class="inline-flex items-center justify-center w-full px-6 py-3 mt-8 text-center text-black transition duration-200 ease-in-out transform border-2 border-black hover:bg-transparent hover:border-black/50 rounded-xl focus:outline-none"
          aria-label="Big fish tier"
          href="/register">Get started</a
        >
      </section>
    </div>
    <div class="mx-auto pt-12 lg:py-16">
      <div class="grid grid-cols-2 gap-0.5 lg:mt-8 md:grid-cols-6 mt-6">
        <div class="flex justify-center col-span-1 px-8">
          <img alt="logo" class="max-h-12" src="/SARB.svg" />
        </div><div class="flex justify-center col-span-1 px-8">
          <img alt="logo" class="max-h-12" src="/Necsa.svg" />
        </div><div class="flex justify-center col-span-1 px-8">
          <img alt="logo" class="max-h-12" src="/Toyota.svg" />
        </div><div class="flex justify-center col-span-1 px-8">
          <img alt="logo" class="max-h-12" src="/british-embassy.svg" />
        </div><div class="flex justify-center col-span-1 px-8">
          <img alt="logo" class="max-h-12" src="/Firstrand.svg" />
        </div><div class="flex justify-center col-span-1 px-8">
          <img alt="logo" class="max-h-12" src="/Nedbank.svg" />
        </div>
      </div>
    </div>
  </div>
</section>
