<section id="services">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="mx-auto max-w-3xl lg:text-center">
      <div>
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter">
          Services<span class="lg:block"
            >
          </span>
        </p><p
          class="mt-4 text-lg max-w-xl tracking-tight text-slate-500 mx-auto">
          Our core focus
        </p>
      </div>
    </div>
    <div class="mx-auto pt-12">
      <div
        class="mx-auto w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3">
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="scan-outline"
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Consulting
            </p>
          </div><p class="text-slate-500 text-sm mt-4">
            As a team of highly skilled cyber risk consultants, we understand the critical importance of identifying and managing the risks that come with the use of technology. Our expert team is dedicated to providing tailor-made strategies for mitigating cyber threats, safeguarding valuable data and securing computer systems.

  With our years of experience in the field, we know exactly what it takes to develop a comprehensive approach that prepares our clients to navigate the ever-evolving landscape of cyber risks. From conducting vulnerability assessments to incident response planning, we leave no stone unturned in ensuring that our clients have the necessary tools and knowledge to face any challenges that may come their way.

At our core, we believe that every organisation deserves peace of mind when it comes to their technology infrastructure. That's why we are committed to delivering high-quality cyber risk consulting services that are specifically designed to meet the unique needs of each client. By working with us, you can rest assured that your organisation is fully equipped to handle any cyber threats that may arise, giving you the confidence and security you need to focus on your core business operations.
          </p>
        </div><div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="scan-outline"
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Strategy
            </p>
          </div><p class="text-slate-500 text-sm mt-4">
            Our information security strategy service is designed to provide comprehensive solutions to protect your organisation against cyber attacks and data breaches. Our team of highly experienced security professionals work closely with you to develop a tailored strategy that aligns with your business objectives, while also ensuring that your data is protected at all times.

Our approach begins with a thorough risk assessment, where we identify potential vulnerabilities and threats to your organisation's information security. We then work with you to develop a customised security strategy that prioritises risk mitigation and prevention, as well as compliance with relevant regulations and standards.

Our services include implementation of industry-leading security technologies and tools, as well as training and education for your employees to ensure they are aware of and capable of handling potential security threats. We also offer ongoing monitoring and analysis to proactively identify potential vulnerabilities and threats to your organisation's information security.

In addition to our technical expertise, we understand that information security is a critical component of any successful organisation. That's why we take a holistic approach to security, considering not only your technology and infrastructure, but also your people, processes and culture.
          </p>
        </div><div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="scan-outline"
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Governance
            </p>
          </div><p class="text-slate-500 text-sm mt-4">
            Our IT governance and risk service is designed to provide your organisation with the tools and expertise necessary to manage your technology systems in a way that aligns with your business goals and mitigates risk. Our team of experienced professionals will work closely with you to develop a customised governance and risk framework that ensures compliance with relevant regulations and standards, while also addressing your unique business needs.

Our approach begins with a thorough assessment of your existing IT governance and risk management practices, including an analysis of your technology infrastructure, policies, and procedures. From there, we work with you to develop a customised framework that aligns with your organisation's strategic objectives, ensuring that your technology systems support your business operations.

Our services include risk assessment, risk management, and compliance management, all of which are designed to help you identify, manage, and mitigate risks to your technology systems. We provide ongoing monitoring and analysis to ensure that your systems remain secure and that your governance and risk management framework is effective and efficient.

          </p>
        </div>
      </div>
    </div>
  </div>
</section>
