<section>
  <div
    class="flex relative justify-center lg:px-0 max-h-full md:px-12 overflow-hidden">
    <div
      class="bg-white px-4 relative flex flex-1 flex-col h-screen lg:py-24 md:flex-none md:px-28 py-10 sm:justify-center xl:py-36 z-10">
      <div
        class="w-full lg:h-full max-w-md md:max-w-sm md:px-0 md:w-96 mx-auto sm:px-4">
        <div class="flex flex-col">
          <div>
            <h2
<<<<<<< HEAD
              class="font-medium leading-tight text-white text-xl font-display">
              Create an account 
=======
              class="font-medium leading-tight text-black text-xl font-display">
              Create a 53C account 
>>>>>>> parent of ae4dcaf (dark mode and simplified website)
            </h2><h2
            class="font-medium leading-tight text-black text-xl font-display">
              [Under Development]
          </h2><div class="py-3">
              <span class="w-full inline-flex relative mt-3 z-0"
                ><button
                  class="w-full focus:outline-none border py-3 bg-white border-slate-300 focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500 focus:z-10 font-medium hover:bg-slate-50 inline-flex items-center justify-center px-4 relative rounded-xl text-slate-700 text-sm"
                  type="button"
                  ><span>Register</span>
                  <span class="ml-3"
                    >          <svg
                    width="10mm"
                    height="20mm"
                    viewBox="0 0 200 100"
                    version="1.1"
                    id="svg5"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:svg="http://www.w3.org/2000/svg"
                    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                    xmlns:cc="http://creativecommons.org/ns#"
                    xmlns:dc="http://purl.org/dc/elements/1.1/">
                   <title
                      id="title1510">53C logo</title>
                   <defs
                      id="defs2">
                     <rect
                        x="270"
                        y="439.33914"
                        height="10.81297"
                        id="rect502" />
                   </defs>
                   <g
                      id="layer1">
                     <text
                        xml:space="preserve"
                        transform="matrix(1.0993402,0,0,1.0993402,-284.72706,-489.7081)"
                        id="text500"
                        style="font-weight:900;font-size:85.3333px;font-family:Arial;-inkscape-font-specification:'Arial Heavy';white-space:pre;shape-inside:url(#rect502);display:inline;fill:#000000;stroke:#000000;stroke-width:2.48208;stroke-dasharray:none;stroke-dashoffset:28.8404;stroke-opacity:1"><tspan
                          x="270"
                          y="517.15153"
                          id="tspan964"><tspan
                            style="font-weight:bold;font-family:'OCR A Extended';-inkscape-font-specification:'OCR A Extended Bold'"
                            id="tspan962">53C</tspan></tspan></text>
                   </g>
                   <metadata
                      id="metadata1508">
                     <rdf:RDF>
                       <cc:Work
                          rdf:about="">
                         <dc:title>53C logo</dc:title>
                       </cc:Work>
                     </rdf:RDF>
                   </metadata>
                 </svg>
                  </span>
                </button>
              </span><div class="py-3 relative">
                <div
                  class="flex absolute inset-0 items-center"
                  aria-hidden="true">
                  <div class="w-full border-t border-slate-300"></div>
                </div><div class="flex relative justify-center">
                  <span class="bg-white text-sm px-2 text-slate-500"
                    >Or continue with</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <form action="https://submit-form.com/e0cZnrmG">
          <input name="hidden" autocomplete="false" style="display:none" />
          <input name="_redirect" type="hidden" value="https://53c.co.za/success" /><div
            class="space-y-6">
            <div class="w-full flex flex-row gap-3">
              <div class="w-full">
                <label class="sr-only" for="first_name">First name</label>
                <input
                  class="w-full focus:outline-none border py-3 appearance-none bg-slate-50 block border-slate-200 focus:bg-white focus:border-accent-500 focus:ring-accent-500 placeholder-slate-400 px-3 rounded-xl sm:text-sm text-accent-500"
                  id="first_name"
                  name="first_name"
                  autocomplete="given-name"
                  required=""
                />
              </div><div class="w-full">
                <label class="sr-only" for="last_name">Last name</label><input
                  class="w-full focus:outline-none border py-3 appearance-none bg-slate-50 block border-slate-200 focus:bg-white focus:border-accent-500 focus:ring-accent-500 placeholder-slate-400 px-3 rounded-xl sm:text-sm text-accent-500"
                  id="last_name"
                  name="last_name"
                  autocomplete="family-name"
                  required=""
                />
              </div>
            </div><div>
              <label class="sr-only" name="name"
                >User name or email Adress</label
              >
              <input
                class="w-full focus:outline-none border py-3 appearance-none bg-slate-50 block border-slate-200 focus:bg-white focus:border-accent-500 focus:ring-accent-500 placeholder-slate-400 px-3 rounded-xl sm:text-sm text-accent-500"
                placeholder="Type here..."
              />
            </div><div class="col-span-full">
              <label class="sr-only" name="company">Password</label>
              <input
                class="w-full focus:outline-none border py-3 appearance-none bg-slate-50 block border-slate-200 focus:bg-white focus:border-accent-500 focus:ring-accent-500 placeholder-slate-400 px-3 rounded-xl sm:text-sm text-accent-500"
                placeholder="Type password here..."
                type="password"
              />
            </div><div class="flex">
              <div class="flex items-start">
                <input
                  class="text-accent-500 focus:ring-accent-500 border-accent-500 h-4 rounded w-4"
                  id="remember-me"
                  name="remember-me"
                  type="checkbox"
                />
                <label
                  class="font-medium text-xs block leading-tight ml-2 text-slate-500"
                  for="remember-me"
                  >Creating an account means you’re okay with our <a
                    class="text-accent-500 hover:text-accent-400"
                    href="/terms"
                    >Terms of Service,
                  </a><a
                    class="text-accent-500 hover:text-accent-400"
                    href="/privacy"
                    >Privacy Policy
                  </a>, and our default <a
                    class="text-accent-500 hover:text-accent-400"
                    href="/notifications">Notification Settings.</a
                  >
                </label>
              </div>
            </div><div class="col-span-full">
              <button
                class="items-center justify-center rounded-xl focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black px-6 py-3 text-center text-white w-full"
                type="submit">Create an account</button
              >
            </div><div class="space-y-4">
              <p class="font-medium text-sm leading-tight text-black">
                Already a member? <a
                  class="text-accent-500 hover:text-accent-400 ml-3"
                  href="/login">Login</a
                >
              </p><p class="font-medium text-xs leading-tight text-slate-500">
                This site is protected by reCAPTCHA and the Google Privacy
                Policy and Terms of Service apply.
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
