<section>
  <div
    class="flex relative justify-center lg:px-0 max-h-full md:px-12 overflow-hidden">
    <div
      class="bg-white px-4 relative flex flex-1 flex-col h-screen lg:py-24 md:flex-none md:px-28 py-10 sm:justify-center xl:py-36 z-10">
      <div
        class="w-full lg:h-full max-w-md md:max-w-sm md:px-0 md:w-96 mx-auto sm:px-4">
        <div class="flex flex-col">
          <div>
            <h2
              class="font-medium leading-tight text-black text-xl font-display">
              Scan Website
            </h2><h2
            class="font-medium leading-tight text-black text-xl font-display">
              [Under Development]
          </h2><div class="py-3">
                <div
                  class="flex items-center absolute inset-0"
                  aria-hidden="true">
                  <div class="w-full border-t border-slate-300"></div>
                </div><div class="flex relative justify-center">
                  <span class="text-sm bg-white px-2 text-slate-500"
                    >Details</span>
                    _redirect>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <form action="https://submit-form.com/ZHoQN8Kl">
          <input name="hidden" autocomplete="false" style="display:none" />
          <input name="_redirect" type="hidden" value="https://53c.co.za/success" /><div
            class="space-y-6">
            <div>
              <label class="sr-only" name="name"
                >IP or Website</label
              >
              <input
                class="w-full focus:outline-none border py-3 appearance-none bg-slate-50 block border-slate-200 focus:bg-white focus:border-accent-500 focus:ring-accent-500 placeholder-slate-400 px-3 rounded-xl sm:text-sm text-accent-500"
                placeholder="Type here..."
              />
            </div>
            </div><div class="col-span-full">
              <button
                class="items-center justify-center rounded-xl focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black px-6 py-3 text-center text-white w-full"
                type="submit">Submit scan request</button
              >
            </div>
          </form>
          </div>
      </div>
</section>
