<section class="bg-white border-b border-black/5">
  <div class="w-full mx-auto md:px-12 px-8 max-w-7xl lg:px-16">
    <div
      x-data="{ open: false }"
      class="relative flex flex-col w-full py-5 mx-auto bg-white md:items-center md:justify-between md:flex-row md:px-6">
      <div class="flex flex-row items-center justify-between lg:justify-start">
        <a href="/" class="lg:pr-8 text-black inline-flex items-center gap-3">
          <svg
          width="37.00227mm"
          height="19.779871mm"
          viewBox="0 0 156.67423 65.932902"
          version="1.1"
          id="svg5"
          sodipodi:docname="53c-slick.svg"
          inkscape:export-filename="slick\logo.svg"
          inkscape:export-xdpi="96"
          inkscape:export-ydpi="96"
          inkscape:version="1.2.1 (9c6d41e410, 2022-07-14)"
          xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
          xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:svg="http://www.w3.org/2000/svg"
          xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
          xmlns:cc="http://creativecommons.org/ns#"
          xmlns:dc="http://purl.org/dc/elements/1.1/">
          <sodipodi:namedview
            id="namedview194"
            pagecolor="#ffffff"
            bordercolor="#000000"
            borderopacity="0.25"
            inkscape:showpageshadow="2"
            inkscape:pageopacity="0.0"
            inkscape:pagecheckerboard="0"
            inkscape:deskcolor="#d1d1d1"
            inkscape:document-units="mm"
            showgrid="false"
            inkscape:zoom="3.039049"
            inkscape:cx="89.666209"
            inkscape:cy="82.920678"
            inkscape:window-width="1920"
            inkscape:window-height="974"
            inkscape:window-x="-11"
            inkscape:window-y="-11"
            inkscape:window-maximized="1"
            inkscape:current-layer="layer1" />
          <title
            id="title1510">53C logo</title>
          <defs
            id="defs2" />
          <g
            id="layer1"
            transform="translate(-19.872622,-15.41295)">
            <g
              aria-label="53C"
              transform="matrix(1.2999628,0,0,1.2999628,-325.14775,-560.02122)"
              id="text500"
              style="font-weight:900;font-size:51.3439px;font-family:Arial;-inkscape-font-specification:'Arial Heavy';white-space:pre;stroke:#000000;stroke-width:2.54879;stroke-dashoffset:28.8404">
              <g
                id="path2284">
                <path
                  style="color:#000000;-inkscape-font-specification:Audiowide;fill:#000000;stroke:none;-inkscape-stroke:none"
                  d="m 306.22653,476.46704 q 0,0.9276 -0.22563,1.95548 -0.20056,1.02788 -0.6769,2.05576 -0.45126,1.00281 -1.1783,1.93041 -0.70197,0.9276 -1.72985,1.65464 -1.00281,0.70197 -2.33153,1.12816 -1.32873,0.4262 -2.98337,0.4262 h -23.89196 v -6.51827 h 23.89196 q 1.22845,0 1.88027,-0.75211 0.6769,-0.75211 0.6769,-1.88027 v -2.90815 q 0,-1.27858 -0.65183,-1.95548 -0.65182,-0.6769 -1.95548,-0.6769 h -14.69117 q -2.5321,0 -4.28702,-0.90253 -1.72984,-0.9276 -2.80786,-2.30646 -1.07803,-1.37887 -1.57943,-2.98336 -0.47634,-1.6045 -0.47634,-2.98336 v -12.08387 h 30.03418 v 6.51827 h -23.51591 v 5.5656 q 0,1.30365 0.6769,1.95548 0.6769,0.65182 1.95548,0.65182 h 14.74131 q 1.3538,0 2.9583,0.50141 1.60449,0.47633 2.95829,1.57943 1.37886,1.07802 2.28139,2.83294 0.9276,1.75491 0.9276,4.28701 z"
                  id="path2293" />
                <path
                  style="color:#000000;-inkscape-font-specification:Audiowide;fill:#000000;stroke:none;-inkscape-stroke:none"
                  d="M 271.93555,448.39258 V 461.75 c 0,1.06599 0.18143,2.18251 0.52734,3.34766 l 0.004,0.008 0.002,0.01 c 0.38082,1.21865 0.9856,2.35405 1.79297,3.38672 0.83699,1.07057 1.92116,1.95396 3.20898,2.64453 l 0.01,0.006 0.01,0.006 c 1.39164,0.7157 3.02967,1.04297 4.86914,1.04297 h 14.69141 c 0.64854,0 0.89701,0.14162 1.03711,0.28711 0.15647,0.16248 0.29492,0.43449 0.29492,1.07031 v 2.90821 c 0,0.49722 -0.11029,0.76144 -0.34961,1.02734 l -0.008,0.01 -0.008,0.008 c -0.17505,0.20197 -0.35713,0.3125 -0.91602,0.3125 h -25.16601 v 9.06836 h 25.16601 c 1.21251,0 2.33878,-0.15716 3.3711,-0.48828 0.99079,-0.3178 1.88792,-0.74674 2.67382,-1.29688 l 0.002,-0.002 0.004,-0.002 c 0.77948,-0.55134 1.4511,-1.19375 2.00196,-1.91993 0.53679,-0.68648 0.98305,-1.41008 1.32617,-2.16992 l 0.002,-0.004 c 0.35426,-0.76523 0.6109,-1.54446 0.76563,-2.33204 0.16506,-0.75732 0.25195,-1.4949 0.25195,-2.21093 v -2.90821 c 0,-1.83801 -0.33633,-3.47807 -1.06836,-4.86914 l -0.002,-0.002 c -0.67168,-1.30525 -1.54696,-2.40146 -2.61914,-3.24219 -1.02065,-0.82948 -2.15867,-1.43974 -3.38672,-1.80469 -7.8e-4,-2.4e-4 -10e-4,-0.002 -0.002,-0.002 -1.16027,-0.36097 -2.26607,-0.55469 -3.32031,-0.55469 H 282.3597 c -0.63582,0 -0.90783,-0.13846 -1.07031,-0.29492 -0.14549,-0.1401 -0.28711,-0.39053 -0.28711,-1.03906 v -4.29102 h 23.51563 v -9.0664 z m 2.54687,2.54883 h 27.48633 v 3.96875 H 278.45312 V 461.75 c 10e-6,1.08967 0.30937,2.146 1.06641,2.875 0.74005,0.71263 1.7709,1.00781 2.83984,1.00781 h 14.74219 c 0.7452,0 1.60586,0.13953 2.57813,0.44336 l 0.008,0.002 0.01,0.004 c 0.9061,0.269 1.73458,0.7093 2.51562,1.3457 l 0.01,0.008 0.01,0.008 c 0.76118,0.5951 1.40409,1.38251 1.9336,2.41211 l 0.002,0.006 0.004,0.006 c 0.50007,0.94606 0.7793,2.15896 0.7793,3.6914 v 2.90821 c 0,0.51507 -0.0621,1.0748 -0.19531,1.68164 l -0.002,0.0156 -0.004,0.0137 c -0.11268,0.5775 -0.30392,1.1655 -0.58203,1.76563 l -0.004,0.006 -0.002,0.006 c -0.25608,0.56907 -0.59342,1.1243 -1.01953,1.66797 l -0.006,0.008 -0.008,0.01 c -0.38405,0.50749 -0.86092,0.9667 -1.44922,1.38282 -0.55011,0.3842 -1.20601,0.70541 -1.98438,0.95508 -0.73932,0.23714 -1.60007,0.36523 -2.59375,0.36523 h -22.61914 v -3.9707 h 22.61914 c 1.07512,0 2.13779,-0.3906 2.83203,-1.18555 0.65742,-0.73586 0.99805,-1.71819 0.99805,-2.7207 v -2.90821 c 0,-1.06895 -0.29517,-2.09979 -1.00781,-2.83984 -0.729,-0.75705 -1.78337,-1.06641 -2.87305,-1.06641 H 282.3598 c -1.5326,0 -2.74617,-0.27449 -3.69335,-0.75976 -1.01268,-0.54489 -1.79854,-1.19612 -2.39649,-1.96094 -0.62943,-0.80509 -1.07749,-1.65645 -1.36523,-2.57617 -2.6e-4,-8.3e-4 -0.002,-0.001 -0.002,-0.002 -0.28517,-0.96625 -0.41992,-1.83626 -0.41992,-2.60352 z"
                  id="path2295" />
              </g>
              <g
                id="path2286">
                <path
                  style="color:#000000;-inkscape-font-specification:Audiowide;fill:#000000;stroke:none;-inkscape-stroke:none"
                  d="m 341.95165,476.46704 q 0,2.5321 -0.9276,4.28702 -0.90253,1.72984 -2.28139,2.83294 -1.35379,1.07802 -2.95829,1.55435 -1.6045,0.47634 -2.98336,0.47634 h -20.9086 v -6.51827 h 20.9086 q 1.32872,0 1.95548,-0.6769 0.65183,-0.6769 0.65183,-1.95548 v -5.54053 h -23.51591 v -6.56841 h 23.51591 v -5.49038 q 0,-2.68252 -2.60731,-2.68252 h -20.9086 v -6.51827 h 20.9086 q 1.67971,0 3.00843,0.42619 1.32872,0.4262 2.33153,1.15324 1.02788,0.70196 1.75492,1.62956 0.72704,0.9276 1.1783,1.95548 0.45127,1.00281 0.65183,2.05577 0.22563,1.02788 0.22563,1.93041 z"
                  id="path2299" />
                <path
                  style="color:#000000;-inkscape-font-specification:Audiowide;fill:#000000;stroke:none;-inkscape-stroke:none"
                  d="m 310.61719,448.39258 v 9.0664 h 22.18359 c 0.65058,0 0.90242,0.14257 1.04102,0.28516 0.13859,0.14259 0.29297,0.43532 0.29297,1.12305 v 4.21679 h -23.51758 v 9.11719 h 23.51758 v 4.26563 c 0,0.63582 -0.14041,0.90978 -0.29688,1.07226 l -0.008,0.008 -0.008,0.01 c -0.11282,0.12184 -0.35208,0.26758 -1.02149,0.26758 h -22.18359 v 9.06836 h 22.18359 c 1.06599,0 2.18056,-0.18339 3.3457,-0.5293 1.22737,-0.36437 2.36773,-0.96476 3.39063,-1.7793 l 0.002,-0.002 c 1.06528,-0.85223 1.93838,-1.94455 2.61133,-3.23242 v -0.002 c 0.73615,-1.39349 1.07617,-3.03788 1.07617,-4.88086 v -17.64844 c 0,-0.70286 -0.089,-1.43369 -0.2539,-2.18945 -0.15232,-0.79111 -0.39713,-1.56352 -0.73243,-2.31055 l -0.002,-0.002 c -0.34524,-0.78582 -0.7937,-1.52976 -1.33984,-2.22657 -0.56378,-0.7193 -1.24566,-1.34708 -2.02344,-1.88086 -0.7865,-0.56812 -1.68301,-1.01163 -2.67578,-1.33007 -1.03453,-0.33183 -2.17085,-0.48633 -3.39844,-0.48633 z m 2.54883,2.54883 h 19.63476 c 1.01202,0 1.88205,0.12881 2.61914,0.36523 0.77392,0.24824 1.42486,0.57355 1.97266,0.9707 l 0.0156,0.0117 0.0137,0.01 c 0.58493,0.39945 1.06961,0.85154 1.47071,1.36328 0.42268,0.53928 0.75933,1.09785 1.01562,1.68164 l 0.002,0.006 0.002,0.004 c 0.26134,0.58075 0.44775,1.16904 0.5625,1.77148 l 0.002,0.0176 0.004,0.0176 c 0.13367,0.60895 0.19726,1.16271 0.19726,1.6582 v 17.64844 c 0,1.53244 -0.28118,2.74533 -0.78125,3.6914 v 0.004 l -0.002,0.002 c -0.52996,1.01575 -1.17586,1.8106 -1.94726,2.42774 -0.78153,0.6219 -1.61428,1.05764 -2.5254,1.32812 -0.97418,0.28922 -1.8486,0.42383 -2.62109,0.42383 h -19.63476 v -3.9707 h 19.63476 c 1.0972,0 2.15624,-0.30335 2.87891,-1.07618 0.70682,-0.73943 1.0039,-1.76516 1.0039,-2.83007 v -6.81446 h -23.51757 v -4.01953 h 23.51757 v -6.76562 c 0,-1.10062 -0.28316,-2.14881 -1.01367,-2.90039 -0.73051,-0.75158 -1.78151,-1.05664 -2.86914,-1.05664 h -19.63476 z"
                  id="path2301" />
              </g>
              <g
                id="path2288">
                <path
                  style="color:#000000;-inkscape-font-specification:Audiowide;fill:#000000;stroke:none;-inkscape-stroke:none"
                  d="m 381.43731,485.61769 h -23.5159 q -0.90253,0 -1.95548,-0.20057 -1.02788,-0.22563 -2.05576,-0.67689 -1.00282,-0.45127 -1.93041,-1.15323 -0.9276,-0.72704 -1.65464,-1.72985 -0.70197,-1.02788 -1.12816,-2.35661 -0.4262,-1.35379 -0.4262,-3.0335 v -17.64946 q 0,-0.90253 0.20056,-1.93041 0.22564,-1.05296 0.6769,-2.05577 0.45127,-1.02788 1.1783,-1.95548 0.72704,-0.9276 1.72985,-1.62956 1.02788,-0.72704 2.35661,-1.15324 1.32872,-0.42619 3.00843,-0.42619 h 23.5159 v 6.51827 h -23.5159 q -1.27859,0 -1.95548,0.67689 -0.6769,0.6769 -0.6769,2.00563 v 17.59932 q 0,1.25351 0.6769,1.95548 0.70196,0.6769 1.95548,0.6769 h 23.5159 z"
                  id="path2305" />
                <path
                  style="color:#000000;-inkscape-font-specification:Audiowide;fill:#000000;stroke:none;-inkscape-stroke:none"
                  d="m 357.92187,448.39258 c -1.22758,0 -2.3639,0.1545 -3.39843,0.48633 -0.99347,0.31866 -1.8977,0.75948 -2.69727,1.32421 -0.76605,0.53624 -1.43805,1.16727 -2.00195,1.88672 -0.54431,0.69447 -0.9931,1.43585 -1.33789,2.21875 -0.33672,0.74827 -0.59219,1.52138 -0.76172,2.3125 l -0.002,0.01 -0.002,0.0117 c -0.14713,0.75406 -0.22461,1.47969 -0.22461,2.17578 v 17.64844 c 0,1.22759 0.15491,2.36949 0.48438,3.41601 l 0.002,0.004 0.002,0.004 c 0.31709,0.98858 0.7446,1.8883 1.28907,2.68555 l 0.01,0.0137 0.01,0.0156 c 0.54996,0.75857 1.18532,1.42391 1.90039,1.98437 l 0.008,0.008 0.01,0.006 c 0.68982,0.52202 1.41583,0.95684 2.17578,1.29882 l 0.006,0.002 0.006,0.002 c 0.75683,0.33227 1.52277,0.58637 2.29492,0.75586 l 0.0176,0.004 0.0156,0.004 c 0.76772,0.14624 1.49923,0.22266 2.19531,0.22266 h 24.78907 v -1.27539 -7.79297 h -24.78907 c -0.59188,0 -0.85279,-0.12952 -1.04687,-0.31055 -0.18153,-0.19416 -0.3125,-0.45399 -0.3125,-1.04687 v -17.59961 c 0,-0.66942 0.14824,-0.94707 0.30469,-1.10352 0.16756,-0.16756 0.42718,-0.30469 1.05468,-0.30469 h 24.78907 v -9.0664 z m 0,2.54883 h 22.24024 v 3.96875 h -22.24024 c -1.07728,0 -2.12246,0.31582 -2.85742,1.05078 -0.74608,0.74608 -1.05078,1.80402 -1.05078,2.90625 v 17.59961 c 0,1.06506 0.32079,2.09902 1.03516,2.83984 l 0.0156,0.0176 0.0176,0.0156 c 0.74082,0.71438 1.77478,1.03321 2.83984,1.03321 h 22.24024 v 3.9707 h -22.24024 c -0.50037,0 -1.06749,-0.058 -1.69335,-0.17578 -0.59128,-0.1305 -1.18871,-0.32456 -1.79493,-0.58985 -0.57379,-0.2582 -1.13183,-0.59136 -1.67578,-1.00195 -0.51409,-0.40422 -0.97415,-0.88586 -1.38867,-1.45508 -0.38593,-0.56843 -0.7083,-1.23029 -0.95703,-2.0039 v -0.002 c -0.23847,-0.75815 -0.36719,-1.63715 -0.36719,-2.64843 v -17.64844 c 0,-0.50497 0.0586,-1.06656 0.17774,-1.67969 0.1313,-0.60718 0.32525,-1.20152 0.58789,-1.78515 l 0.002,-0.004 0.002,-0.006 c 0.25631,-0.5838 0.59295,-1.14236 1.01563,-1.68164 0.40548,-0.51734 0.886,-0.97138 1.45703,-1.37109 l 0.002,-0.002 0.004,-0.002 c 0.56974,-0.40299 1.23362,-0.73152 2.00976,-0.98047 0.7371,-0.23642 1.60712,-0.36523 2.61914,-0.36523 z"
                  id="path2307" />
              </g>
            </g>
          </g>
          <metadata
            id="metadata1508">
            <rdf:RDF>
              <cc:Work
                rdf:about="">
                <dc:title>53C logo</dc:title>
              </cc:Work>
            </rdf:RDF>
          </metadata>
        </svg>


        </button>
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col items-center flex-grow hidden md:pb-0 md:flex md:justify-end md:flex-row">
        <a
        class="px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400"
        href="/#about">About</a
        >
        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400"
          href="/#services">Services</a
        >
        <a
        class="px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400"
        href="/#pricing">Pricing</a
      >
        <a
        class="px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400"
        href="/#contact">Contact</a
        >

        <div class="inline-flex items-center gap-2 list-none lg:ml-auto">
          <a
            href="/register"
            class="block px-4 py-2 mt-2 text-sm font-medium text-black md:mt-0 hover:text-accent-400 focus:outline-none focus:shadow-outline">
            Register
          </a>
          <a
            href="/login"
            class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-black bg-slate-100 rounded-lg group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 hover:bg-slate-50 active:bg-slate-200 active:text-accent-400 focus-visible:outline-black">
            Log in
          </a>
        </div>
      </nav>
    </div>
  </div>
</section>
